@using IslandFoodmart.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DatabaseUser> SignInManager
@inject UserManager<DatabaseUser> UserManager
@inject ApplicationDbContext context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var orders = from r in context.ShoppingOrder
                     orderby r.UserName
                     where r.UserName == UserManager.GetUserAsync(User).Result.UserName
                     select r;
        orders = orders.OrderByDescending(s => s.OrderDate);
        var first = orders.FirstOrDefault();
        if (first != null)
        {
            if (first.CartQuantity == 0)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="ShoppingItems" asp-action="Index">Empty Cart</a>
                </li>
            }
            else if (first.CartQuantity == 1)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="ShoppingItems" asp-action="Index">@first.CartQuantity item in Cart</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="ShoppingItems" asp-action="Index">@first.CartQuantity items in Cart</a>
                </li>
            }
        }

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="ShoppingItems" asp-action="Index">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
