@using IslandFoodmart.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DatabaseUser> SignInManager
@inject UserManager<DatabaseUser> UserManager
@model IslandFoodmart.Models.ShoppingOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShoppingOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" value="@UserManager.GetUserAsync(User).Result.FirstName"  class="form-control" readonly="readonly"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label"></label>
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTotal" class="control-label"></label>
                <input asp-for="PriceTotal" class="form-control" />
                <span asp-validation-for="PriceTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
