@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>

<p>This page will provide Contact information about Island Foodmart.</p>
<div style="display: flex;">
    <div>
        <p>Phone number</p>
        <p>Address</p>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.806808629806!2d174.69467661580916!3d-36.8949696898003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d46cecd039fb5%3A0x458f15f05439e7af!2sIsland%20Foodmart!5e0!3m2!1sen!2snz!4v1678998288499!5m2!1sen!2snz" width="600" height="450" style="border: 1px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
