@{
    ViewData["Title"] = "Contact Us";
}

<div class="carousel">
    <div class="carousel-container">
        <img src="https://www.countdown.co.nz/content/f2338-hpc-specials.png" alt="Image 1">
        <img src="https://www.countdown.co.nz/content/f2338-hpc-nescafe.jpg" alt="Image 2">
        <img src="https://www.countdown.co.nz/content/f2338-hpc-inseasonautumn.jpg" alt="Image 3">
    </div>
    <button class="carousel-prev">Previous</button>
    <button class="carousel-next">Next</button>
    <div class="carousel-dots"></div>
</div>

<h1>@ViewData["Title"]</h1>

<p>This page will provide Contact information about Island Foodmart.</p>

