@using IslandFoodmart.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DatabaseUser> SignInManager
@inject UserManager<DatabaseUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Island Foodmart!</h1>
</div>

<div class="carousel">
    <div class="carousel-container">
        <img src="~/lib/vdrink.png" alt="Image 1">
        <img src="~/lib/kara.png" alt="Image 2">
        <img src="~/lib/anchor.png" alt="Image 3">
    </div>`
    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <button class="carousel-prev">&#10094</button>
    <button class="carousel-next">&#10095</button>
</div>

<style>
    .btn-lower {
        margin-top: 30px;
        background: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
    }
</style>

<div class="container text-center">
    <button class="btn btn-primary btn-lower">Start shopping</button>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
</div>
<!-- end about -->

<div class="content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="title" asp-area="Identity" asp-page="/Account/Manage/Index">My Foodmart Account</a>
            <a class="text" asp-area="Identity" asp-page="/Account/Manage/Index">Click here to go to your account page</a>
        }
        else
        {
            <a class="title" asp-area="Identity" asp-page="/Account/Login">My Foodmart Account</a>
            <a class="text" asp-area="Identity" asp-page="/Account/Login">Click here to go to your account page</a>
        }
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">favorite_border</i></div>
        <p class="title">Deals</p>
        <p class="text">Check out some of our best deals on items!</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">alternate_email</i></div>
        <a class="title" asp-area="" asp-controller="Home" asp-action="ContactUs" >Contact Us</a>
        <a class="text" asp-area="" asp-controller="Home" asp-action="ContactUs" >Click to view our contact info so you can reach out!</a>

    </div>
    <!-- end card -->



</div>

