@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Island Foodmart!</h1>
    <p>Begin shopping by <a asp-area="" asp-controller="Home" asp-action="Privacy">clicking here</a>.</p>
</div>

<div class="carousel">
    <div class="carousel-container">
        <img src="~/lib/img1.png" alt="Image 1">
        <img src="~/lib/img2.png" alt="Image 2">
        <img src="~/lib/img3.png" alt="Image 3">
    </div>
    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <button class="carousel-prev">&#10094</button>
    <button class="carousel-next">&#10095</button>
</div>

