@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Thank you for considering Island Foodmart as your preferred online shopping destination. We understand that privacy is important to our customers, and we are committed to protecting your personal information. This Privacy Policy describes how Island Foodmart collects, uses, and shares personal information from customers who use our website.

    Information We Collect

    Island Foodmart collects personal information when you create an account on our website, place an order, or contact our customer service team. The personal information we collect may include your name, email address, shipping address, phone number, and payment information.

    We also collect non-personal information about your use of our website, such as your IP address, browser type, and device information. This information helps us improve our website and provide a better shopping experience for our customers.

    How We Use Your Information

    Island Foodmart uses your personal information to process and fulfill your orders, communicate with you about your orders, and provide customer service. We may also use your information to send you promotional emails and special offers if you opt-in to receive them.

    We may use non-personal information to analyze website usage trends and to optimize our website for a better user experience.

    How We Share Your Information

    Island Foodmart may share your personal information with third-party service providers who help us fulfill orders, process payments, and provide customer service. We also may share your information with law enforcement agencies or other third parties if we believe it is necessary to comply with a legal obligation or protect our rights.

    Your Choices

    You have the right to access, correct, or delete your personal information at any time. You can also choose to opt-out of receiving promotional emails and special offers from us.

    Security

    Island Foodmart takes reasonable measures to protect your personal information from unauthorized access, disclosure, and misuse. We use industry-standard encryption technologies to protect your payment information during transmission.

    Changes to this Privacy Policy

    Island Foodmart reserves the right to update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on our website.

    Contact Us

    If you have any questions about this Privacy Policy or our data practices, please contact us at customerservice@islandfoodmart.com.
</p>
